.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }
  
  .modal-contenido {
    background-color: $secondary-background-color;
    margin: 15% auto;
    padding: 30px;
    border: none;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    position: relative;
    color: white;
    text-align: center;
  }

  .perfil{
    color: $secondary-color;
  }
  
  .modal-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .modal-cerrar:hover {
    color: $primary-color;
  }
  
  
  .imagenPerfilContainer {
    text-align: center;
    margin-top: 20px; 
  }
  
  #imagenPerfil {
    max-width: 100%;
    height: auto;
    border-radius: 800px;
  }
  
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  #nuevaImagenUrl {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #cambiarImagenBtn {
    color: $primary-color;
    border: none;
    background: none;
    padding: 8px 12px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #cambiarImagenBtn:hover {
    color: $tertiary-color;
    background: $primary-color;
    box-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color,
      0 0 30px $primary-color;
  }
  